<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/all.min.css">
    <link rel="stylesheet" href="css/aos.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="icon" href="imgs/logo/logo.png">
    <link rel="stylesheet" href="css/hover-min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

    <title>IMAS 2023</title>
    <style>
        h2{
            margin-top: 50px;
            text-align: center;
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
  <div class="fixed-menu">
    <div class="fixed-links">
      <div class="close">
        <i class="fa-solid fa-xmark"></i>
      </div>
      <a href="/" class="link">Home</a>
      <a href="/About" class="link">About</a>
      <a href="/Agenda" class="link">Agenda</a>
      <a href="/Topics" class="link">Topics</a>
      <a href="/Committees" class="link">Committees</a>
      <a href="/Sponsers" class="link">Sponsers</a>
      <a href="/Venue" class="link">Venue</a>
      <button class="btn btn-ieee" onclick="window.open('CFP.pdf', '_blank')">Download CFP</button>
    </div>
  </div>
      <!-- main header -->
      <div id="carouselExampleCaptions" class="header-other" data-ride="carousel">
        <div class="carousel-inner">
          
          <div class="header-body">
            <div class="container-fluid header-new">
              <div>
                <div class="row">
                  <div class="col-sm-2 col-6">
                    <div class="brand">
                      <img src="/imgs/logo/logo.png">
                    </div>
                  </div>
                  <div class="col-sm-10 col-6">
                    <div class="links">
                      <a href="/" class="link hvr-overline-from-center">Home</a>
                      <a href="/About" class="link hvr-overline-from-center">About</a>
                      <a href="/Agenda" class="link hvr-overline-from-center">Agenda</a>
                      <a href="/Topics" class="link hvr-overline-from-center">Topics</a>
                      <a href="/Structure" class="link hvr-overline-from-center">Structure</a>
                      <a href="/Sponsers" class="link hvr-overline-from-center">Sponsers</a>
                      <a href="/Venue" class="link hvr-overline-from-center">Venue</a>
                      <button class="btn btn-ieee" onclick="window.open('CFP.pdf', '_blank')">Download CFP</button>
                    </div>
                    <div class="to-links">
                      <div class="to-links-box">
                        <i class="fa-solid fa-bars"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        </button>
      </div>
  
  
  <!-- main -->
  <div style="margin-bottom: 200px" class="container">
      <h2>Steering Committee</h2>
      <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
        </tr>
        </thead>
        <tbody>
        <%for(let i = 0;i<steering.length;i++){%>
        <tr>
            <th scope="row"><%=i+1%></th>
            <td><%=steering[i].name%></td>
        </tr>
        <%}%>
        </tbody>
    </table>

      <h2>Conference Co-Chairs</h2>
      <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
        </tr>
        </thead>
        <tbody>
        <%for(let i = 0;i<Conference.length;i++){%>
        <tr>
            <th scope="row"><%=i+1%></th>
            <td><%=Conference[i].name%></td>
        </tr>
        <%}%>
        </tbody>
    </table>

      <h2>TPC Chairs</h2>
      <table class="table">
          <thead class="thead-dark">
          <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
          </tr>
          </thead>
          <tbody>
          <%for(let i = 0;i<TPC_Chairs.length;i++){%>
          <tr>
              <th scope="row"><%=i+1%></th>
              <td><%=TPC_Chairs[i].name%></td>
          </tr>
          <%}%>
          </tbody>
      </table>

      <h2>TPC Members</h2>
      <table class="table">
          <thead class="thead-dark">
          <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
          </tr>
          </thead>
          <tbody>
          <%for(let i = 0;i<TPC_Members.length;i++){%>
          <tr>
              <th scope="row"><%=i+1%></th>
              <td><%=TPC_Members[i].name%></td>
          </tr>
          <%}%>
          </tbody>
      </table>

      <h2>G. Secretary</h2>
      <table class="table">
          <thead class="thead-dark">
          <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
          </tr>
          </thead>
          <tbody>
          <%for(let i = 0;i<G_Secretary.length;i++){%>
          <tr>
              <th scope="row"><%=i+1%></th>
              <td><%=G_Secretary[i].name%></td>
          </tr>
          <%}%>
          </tbody>
      </table>

      <h2>Women in Engineering Committee</h2>
      <table class="table">
          <thead class="thead-dark">
          <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
          </tr>
          </thead>
          <tbody>
          <%for(let i = 0;i<women.length;i++){%>
          <tr>
              <th scope="row"><%=i+1%></th>
              <td><%=women[i].name%></td>
          </tr>
          <%}%>
          </tbody>
      </table>

      <h2>Organizing Committee</h2>
      <table class="table">
          <thead class="thead-dark">
          <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
          </tr>
          </thead>
          <tbody>
          <%for(let i = 0;i<Organizing.length;i++){%>
          <tr>
              <th scope="row"><%=i+1%></th>
              <td><%=Organizing[i].name%></td>
          </tr>
          <%}%>
          </tbody>
      </table>

      <h2>Teaching Assistants</h2>
      <table class="table">
          <thead class="thead-dark">
          <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
          </tr>
          </thead>
          <tbody>
          <%for(let i = 0;i<Assistants.length;i++){%>
          <tr>
              <th scope="row"><%=i+1%></th>
              <td><%=Assistants[i].name%></td>
          </tr>
          <%}%>
          </tbody>
      </table>
  </div>






  <!-- /main -->

  <!-- Footer -->
  <div class="container-fluid footer">
      <div class="container">
        <span>© Copyright 2022 IEEECUSB – All rights reserved.  A not-for-profit organization, IEEE is the world's largest technical professional organization dedicated to advancing technology for the benefit of humanity.</span>
        <div class="links">
          <a href="http://www.ieee.org/" class="link">IEEE</a>|
          <a href="http://ieeexplore.ieee.org/" class="link">IEEE Xplore</a>|
          <a href="http://standards.ieee.org/" class="link">IEEE Standards</a>|
          <a href="http://spectrum.ieee.org/" class="link">IEEE Spectrum</a>|
          <a href="http://www.ieee.org/sitemap" class="link d-md-inline-block d-none">More sites</a>
        </div>
      </div>
    </div>
    <!-- /Footer -->

    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/aos.js"></script>
    <script>
      AOS.init();

      $('.close').click(function(){
        $('.fixed-menu').removeClass('d-block');
      });

      $('.to-links-box').click(function(){
        $('.fixed-menu').addClass('d-block');
      });
    </script>
  </body>
  </html>
